ion-content {
  --background-color: red;
}
.list-items {
  padding: 0px 5%;
}
.text-center {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}
.product-container {
  margin-top: 2rem;
}
.text-style {
  color: #686873;
}
.rating {
  margin-left: 0.5rem;
}
ion-icon {
  color: #FB8200;
}
.footer {
  background-color: red;
}

